.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogsItems {
    margin: 5px;
    padding: 10px;


}

.item  {
    text-decoration: none;
    color: mediumvioletred;
}

.messages {
    margin: 5px;
    padding: 10px;
    color: mediumvioletred;
}
.message{

}